body {
  background-color: blue;
}

i {
  font-size: 200px;
  color: white;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.smartphone,
.tablet {
  display: none;
}

@media (max-width: 900px) {
  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
  body{background-color: brown;}
}

@media (max-width: 640px) {
  .tablet {
    display: none;
  }

  .smartphone {
    display: block;
  }
  body {
    background-color: green;
  }
}
